@import url(file:///Users/tianadouze/Desktop/MMP%20240/mmp240/recipe.html);
@import url(file:///Users/tianadouze/Desktop/MMP%20240/mmp240/recipe.html);
body{ 
    background-color: aqua;
    width: 75%;
    padding-left: 24px;
    font-family: "lato"; 
    font-weight: 400;
    font-style: normal;

}
