* {
    margin : 0;
    padding : 0;
    border : none;
    }

body{
        margin: auto;
}

nav.dropdown a{
    background-color: white;
    color: #fff;
}

nav .dropdown a:hover{
    background-color: pink;
    color: pink;
}

.dropdown{
display: none;
}

nav li:hover .dropdown{
display: block;
}


 h2 h3 h4{
    margin-bottom: 1em;
}

.btn{

}

#topmenu {
    display : none;
    position: absolute;
    right: 0;
    top: 25px;
}

.programNav li{
padding: 0.5em;
background-color: plum;
border-radius: 5px;
margin-bottom: 1em;
}


.programNav li a{
color: white;
text-decoration: none;
}

.material-symbols-outlined{
    float: right;
}

.dropdown{
        display: none;
        background-color: #fff;
        padding: 0.5em;
        border: solid #ccc 1px;
}

.programNav .dropdown li{
background-color: transparent;
margin: 0;
border-radius: 0;

}

.programNav .dropdown a{
    color: black;
}

.programNav .dropdown a:hover{
color: black;
background-color: pink;

}

.programNav li:hover .dropdown{
color: black;
background-color: purple;
}

.banner {
    padding : 2em;
    padding-top : 4em;
    background: url(images/queens.jpeg) no-repeat center left/cover;
    }

.banner h3 {
    display: inline-block;
    padding : 1em ;
    font-size: 2rem;
    line-height: 1.4em;
    color: white;
}