* {
    margin: 0 0;
    padding: 0 0;
}
.header-content { 
    display: flex;
    margin: 0 auto;
    /*padding-top: 3em
    padding-bottom:3em
    padding-left:2em;*/
    color: black;


/*background-color: purple;
background-image: url(images/Friends2.jpg);
background-repeat:no-repeat;
background-size: 70%
background-postion: top right: ; */


}

.header-content-bg-1 {
    position: relative;
    width: 50%;
    height: 25vw;
    background:
        url("images/friends_logo.jpg"),
        black;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.header-content-bg-2 {
    position:relative;
    width: 50%;
    height: 25vw;
    background: 
        linear-gradient(to left, rgba(52, 52, 52, 0) 90%, rgb(0, 0, 0) 100%), 
        url("images/Unknown.jpg") no-repeat left top;
    background-size: cover;
    size: 100% 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
   
}

#wrapper{
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;
    overflow: auto;
}

h2{
    font-size: 2rem;
    line-height: 1.3em;
}

p,h2{
    margin-bottom: 1em;
}
strong{
    font-weight: bold;
    color: white;
}
p{
    color:white;
    width: 25%;
}
.play{
    padding: left 25px; ;
    background-image:url(images/play_arrow.png)no-repeat ;
    background-repeat:no-repeat ;
    background-position: left-corner;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
background-color: #111;
}

.button {
	position: relative;
	font-family: inherit;
	display: flex;
	gap: 1.05rem;
	cursor: pointer;
	border-radius: 3rem;
	padding: 0.9rem 3.2rem;
	background-color: #3a393b;
	color: #fff;
	border: none;
	align-items: center;
	font-weight: 600;
	width: 10%;
	justify-content: center;
}

.arrow {
	position: relative;
	cursor: pointer;
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	border-left: 0.9rem solid #fff;
}

.play_wrapper {
    /* clockwise: [up, right, bottom, left]*/
    margin: 0 2% 5% 2%;
}

#friends_title {
    color: white;
    margin: 4% 4% 0 4%;
    font-size: xx-large;
    width: 100vw;
}

#friends_subtitle {
    color: white;
    margin: 1% 4% 0 4%;
    font-size: medium;
    width: 100vw;
}

#friends_subheader {
    margin: 2%;
}

.episode_subtitle {
    font-size: large;
    margin: 4%;
}

.episode_description {
    font-size: medium;
    margin: 4%;
    padding: auto;
    color: black;
}

.episode_box {
    width: 90%;
    height: 30%;
    background-color: rgb(194, 194, 194);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1% auto 2% auto;
}

.flex_wrapper {
    margin: 2% 4% 4% 4%;
    display: flex;
    flex-wrap: nowrap;
}

.child_flex_box {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 30vw;
    height: 20vw;
}

.col{
    margin: 2% 4% 4% 4%;
    width: 40vw;
    float: left;
    min-width: 300px;
}

.col p{
    width: 100%;
    font-size: large;
    line-height: 120%;
}

#footer {
    display: block;
    color: white;
    float: left;
    height: 15%;
    width: 100%;
    margin: 1% 4% 1% 4%;
}

#main_container {
    display: block;
    width: 100%;
    margin: 0 auto;
}