header { 
    padding: 3em 2em;
    /*padding-top: 3em
    padding-bottom:3em
    padding-left:2em;*/
    background:    
    url(images/Friends2.jpg); mask-repeat:top right/70%;
    color: black;


/*background-color: purple;
background-image: url(images/Friends2.jpg);
background-repeat:no-repeat;
background-size: 70%
background-postion: top right: ; */


}

img#logo{
width: 25%;
}

p{
    color:black;
    width: 25%;
    margin-left: 20px;
}