* {
    margin: 0 0;
    padding: 0 0;
}
.header-content { 
    display: flex;
    margin: 0 auto;
    color: black;


}

.header-content-bg-1 {
    position: relative;
    width: 50%;
    height: 25vw;
    background:
        url("images/friends_logo.jpg"),
        black;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.header-content-bg-2 {
    position:relative;
    width: 50%;
    height: 25vw;
    background: 
        linear-gradient(to left, rgba(52, 52, 52, 0) 90%, rgb(0, 0, 0) 100%), 
        url("images/Unknown.jpg") no-repeat left top;
    background-size: cover;
    size: 100% 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
   
}

#wrapper{
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;
    overflow: auto;
}

h2{
    font-size: 2rem;
    line-height: 1.3em;
}

p,h2{
    margin-bottom: 1em;
}
strong{
    font-weight: bold;
    color: white;
}

p{
    color:white;
    width: 25%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
background-color: #111;
}

.button {
	position: relative;
	font-family: inherit;
	display: flex;
	gap: 1.05rem;
	cursor: pointer;
	border-radius: 3rem;
	padding: 0.9rem 3.2rem;
	background-color: #3a393b;
	color: #fff;
	border: none;
	align-items: center;
	font-weight: 600;
	width: 10%;
	justify-content: center;
}

.arrow {
	position: relative;
	cursor: pointer;
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	border-left: 0.9rem solid #fff;
}

.play_wrapper {
    /* clockwise: [up, right, bottom, left]*/
    margin: 0 2% 5% 2%;
}

#friends_title {
    color: white;
    margin: 4% 0 0 4%;
    font-size: xx-large;
    width: 96%;
}

#friends_subtitle {
    color: white;
    margin: 1% 0 4% 4%;
    font-size: medium;
    width: 96%;
}

#friends_subheader {
    margin: 2%;
}

.episode_box_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* text sizes for card */
.episode_subtitle {
    font-size: large;
    width: 100%;
    margin-bottom: 4%;
    color: white;
}

.episode_description {
    font-size: medium;
    width: 100%;
    margin: auto;
    color: white;
}

/* episode box sizes*/
.episode_box {
    width: 100%;
    height: 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1% auto 8% auto;
}

.flex_wrapper {
    margin: 0 0 0 4%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    align-items: stretch;
}

.child_flex_box {
    margin-right: 4%;
    display: inline-flexbox;
    width: 400px;
    height: 500px;
}

.col{
    margin: 2% 4% 4% 4%;
    width: 40vw;
    float: left;
    min-width: 300px;
}

.col p{
    width: 100%;
    font-size: large;
    line-height: 120%;
}

#footer {
    display: block;
    color: white;
    float: left;
    height: 15%;
    width: 96%;
    margin: 1% 0 2% 4%;
}

#main_container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

